.navbar-dark {
	background-color: #3E7480;
}
.navbar-etilog a {
	color: #3E7480;
}
body {
	/* default is 1rem or 16px -> for table*/
	font-size: 12px;
	font-family: "Courier New", Courier, monospace;
}

.text-primary {
	color: #3E7480;
}

.table-sm {
	font-size: 1em;
}

.table-sm .orderable a {
	color: #3E7480;
}

/*#impev-list > table > tbody > tr:nth-child(1) > td.badge.badge-danger.sust_category*/

.table-sm .sustbtn { /* button within cell */
	display: block; /*centers in horizontally */
	margin:auto;	
}
.table-sm .sustcl	 {
	vertical-align: middle;
	
}	
.table-sm td	 {
	/* vertical-align: middle; */
	
}	
.center_div {
	margin: 0 auto;
	width: 80% /* value of your choice which suits your alignment */
}

.date {
	width: 20em;
}



.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.hidden-label{
	visibility: hidden;
}

.row_tags_class{
	/*can be shown with jquery later on*/
	display: none;
}
#filterform{
	/*max-width: 500px;*/
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	/*display: None;
	z-index: 10;
	position: fixed;*/
}


#id_date_from{
  width: 30px;
}
 .btnselect{
 
    margin-bottom: 3px;
}
 
