/*DATEINPUT*/
.datepicker .input-group.date{
        border-bottom: 1px solid #fff;
    width: 15em;
}

.datepicker .dateyearpicker {
    height: 20%;

    /* color and background in .form-control input */

}