/*DATEINPUT*/
.datepicker{
        border-bottom: 1px solid #fff;
}
.datepicker .date {
    width: 15em;

    /*margin-right: 2em !important; */
}


.datepicker .dateyearpicker {
    height: 20%;

    /* color and background in .form-control input */

}