:root {
  --full_bckgrnd: rgba(33, 37, 41, 1);  /* = #33b5e5 rgba(38, 33, 32, 1);*rgb(33,37,41)*/
  --trans_bckgrnd: rgba(33, 37, 41, .8);
  --light_bckgrnd: rgba(255, 255, 255, .05); /*on top */
  --read_bckgrnd: #111213 ;
  --dark_bckgrnd : #111213 ;
  --etikigreen: #37718e ; /* #33b5e5 mdb info colour; var(--info); #3E7480; */
  --positive: #66a182; 
  --controversial: #dfc983 ; 
  --negative: #e78680;
  --foreground: ##f8f9fa; /* #fff; */
  --etikilight: #6d97ac; /*on lighter than etikigreen */
  /* 
  --etikigreen: #33b5e5; 
  --positive: #7b8776; 
  --controversial: #d8a47f; #aeab98;  #d4aa7d
  --negative: #db5461;
  
  
  --positive: #7b8776; 
  --controversial: #87767b; 
  --negative: #827687;
  
  /*--positive: var(--success) ; 
  --controversial: var(--warning) ; 
  --negative: var(--danger) ; */
}


body, html {
	height: 100%;
		/* default is 1rem or 16px -> for table*/
	font-family: "Roboto",sans-serif; /*"Courier New", Courier, monospace; */
}

noscript {
	position: absolute;
	text-align: center;
	top: 100px;
	left: 15px;
	color: black;
	/* Add a font */
	font-family: "Courier New", Courier, monospace;
	/* Set the font-size to 25 pixels */
	font-size: 1.5em; /*25px;*/
	font-weight: bold;
}

.fullsite-wrapper{

	color: white !important;
	height: 100%;
	/* Add a font */
}

.content-wrapper{
	width: 100%; /*so all start at the same width, container does the same, but adds padding*/

}
.infront{
	background-color: var(--light_bckgrnd);
}
.nobackground {
	background-color: transparent !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	}
/*
.bckground{
	padding: 10px 20px;
	margin: 10px auto;
	border-radius: 8px;
	background-color: var(--trans_bckgrnd);
}
.bckground.transp{ 
	background-color: transparent;
}
.bckground.fullbg{ 
	background-color: var(--full_bckgrnd);
}
*/
.navbar{
    display: block; /*because navbar has flex*/
}
.navbar-dark {
    background-color: var(--full_bckgrnd);
    padding: 10px 20px;
	margin: 0;
    z-index: 800; 
}
.navbar-toggler {
    border: none;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#img_sm {
    vertical-align: middle; /* is already in bootstrap img class */
    max-height: 25px; /* to define img size */
    height: 25px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}
.icon {
  	height: 25px; /* should be square image */
}

label, .nav-link{
	font-size: 12px!important;
}


/*white line */
.whitehr{
	border-color: #eeeeee;
}
.smfont{
	font-size: 12px; /*25px;*/	
}

.txtellipsis {
	overflow: hidden;
    white-space: nowrap;
    word-break: normal;
    text-overflow: ellipsis;
}


/* NAV-TABS */
.nav-tabs .nav-link.active {
    color: white;
    font-weight: bold;
    background-color: var(--full_bckgrnd);
    border-color: white white transparent;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: white white transparent;
    background-color: var(--full_bckgrnd);
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-radius: 0;
    color: white;
}
.nav-tabs .fas{
	font-size: 1.5em; /* sets size of font awesome */
		
}
.img-fullwidth {
	width: 100%;
    height: auto;
    margin-top: 20%;
}
.img-wrapper{
	position: relative;
}
.text-ovarlay{
	position: absolute;
    background-color: var(--trans_bckgrnd);
    top:200px;
    left: 0;
    box-sizing: border-box;
    color: #fff;
    margin: 0;
	
}
.img-ovarlay{
	width: 40%;
    height: auto;
    position: absolute;
    margin: 0;
    right: 20px;
    top: 20px;
}
 a {
    color: var(--etikigreen);
    font-size: 0.75rem;
}
