:root {
  --full_bckgrnd: rgba(38, 33, 32, 1);
  --trans_bckgrnd: rgba(38, 33, 32, .8);
  --light_bckgrnd: rgba(255, 255, 255, .3); /*on top */
  --etikigreen: var(--info) /*#3E7480; */
}


body, html {
  background:  url("/static/etilog/img/background.gif")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100%;
}
noscript {
	position: absolute;
	text-align: center;
	top: 100px;
	left: 15px;
	color: black;
	/* Add a font */
	font-family: "Courier New", Courier, monospace;
	/* Set the font-size to 25 pixels */
	font-size: 1.5em; /*25px;*/
	font-weight: bold;
}
.fullsite-wrapper{
	/* Background image */
	/*background-image: url("/static/etilog/img/background.gif"); */
	/* Full-screen height: 100%; */
	height: 100%;
	/* Center the background image background-position: center; */
	
	/* Scale and zoom in the image background-size: cover; */
	
	/* Add position: relative to enable absolutely positioned elements inside the image (place text) position: relative; */
	
	/* Add a white text color to all elements inside the .bgimg container */
	color: white;
	/* Add a font */
	font-family: "Courier New", Courier, monospace;
	/* Set the font-size to 25 pixels */
	font-size: 1em; /*25px;*/
}

/* Position text in the top-left corner */
.topleft {
	position: absolute;
}

.topmiddle {
	text-align: center;	
}

/* Position text in the bottom-left corner */
.bottomleft {
	position: absolute;
	bottom: 0;
}

/* Position text in the middle */
.middle_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 70%;
}

.middle {
	text-align: center;
}
.changepos{
	padding-top: 15px;
	padding-bottom: 15px;
}
/* Style the <hr> element */
hr {
	margin: auto;
	width: 40%;
}

}
.date {
	width: 20em;
}

.bckground{
	/*max-width: 500px;*/
	padding: 10px 20px;
	margin: 10px auto;
	border-radius: 8px;
	background-color: var(--trans_bckgrnd);
	/*display: None;
	z-index: 10;
	position: fixed;*/
}
.bckground.transp{ 
	background-color: transparent;
}

#div_id_search{
	/* overwrite form-group css */
	margin-bottom:0;
}

#id_contsearch{
	/*max-width: 500px;*/
	padding: 10px 20px;
	margin: 0;
	border-radius: 8px;
	background-color: rgba(38, 33, 32, 0);
	-webkit-transition: background-color 700ms linear;
    transition: background-color 700ms linear;
    z-index: 800; 
    
	/*display: None;
	z-index: 10;
	position: fixed;*/
}
#id_contsearch.scrolled {
    background-color: var(--full_bckgrnd);
}
#small_logo {
    height: 100%; 
    white-space: nowrap; /* This is required unless you put the helper span closely near the img */
    text-align: center;
}


.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#img_sm {
    vertical-align: middle; /* is already in bootstrap img class */
    max-height: 25px; /* to define img size */
}

.center_div_notused {
	margin: 0 auto;
	width: 80% /* value of your choice which suits your alignment */
}