:root {
    --full_bckgrnd: #212529; /*= rgba(33, 37, 41, 1) */

    --trans_bckgrnd: rgba(33, 37, 41, .8);
    --light_bckgrnd: rgba(255, 255, 255, .05); /*on top */

    --read_bckgrnd: #111213;
    --dark_bckgrnd: #111213;

    --etikigreen: #669CB0; /* #33b5e5 mdb info colour; var(--info); #3E7480; */
    --positive: #66a182;
    --controversial: #dfc983;
    --negative: #e78680;

    --foreground: #2c3034; /* rgba(44, 48, 52); */
    --etikilight: #91C4D0; /*on lighter than etikigreen */

}


body, html {
    height: 100%;
    /* default is 1rem or 16px -> for table*/
    font-family: "Roboto", sans-serif; /*"Courier New", Courier, monospace; */
    background-color: var(--full_bckgrnd);
}

noscript {
    position: absolute;
    text-align: center;
    top: 100px;
    left: 15px;
    color: black;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 1.5em; /*25px;*/
    font-weight: bold;
}


.fullsite-wrapper {
    color: white !important;
    height: auto;
    min-height: 100%; /* Add a font */
}

.content-wrapper {
    width: 100%; /*so all start at the same width, container does the same, but adds padding*/

}

.infront {
    background-color: var(--foreground);
}

.nobackground {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar {
    display: block; /*because navbar has flex*/
}

.navbar-dark {
    background-color: var(--full_bckgrnd);
    padding: 10px 20px;
    margin: 0;
    z-index: 800;
}

.navbar-toggler {
    border: none;
}


.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.navbar-brand {
    margin-right: 0;
}

#img_sm {
    max-height: 25px; /* to define img size */
    /*vertical-align: middle;  /*   is already in bootstrap img class */
    /*
    height: 25px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */

}

.date {
    width: 20em;
}

#id_contsearch {
    /*max-width: 500px;*/
    padding: 10px 20px;
    margin: 0;
    z-index: 800;
    display: block; /*because navbar has flex */
    background-color: var(--full_bckgrnd);
    /*display: None;
    z-index: 10;
    position: fixed;*/
}

.sitefooter, .siteheaderlogo {
    padding-top: 15px;
    padding-bottom: 15px;
}

.sitefooter {
    top: 100%;
    position: -webkit-sticky;
    position: sticky;

}

#div_id_search {
    /* overwrite form-group css */
    margin-bottom: 0;
}

/*Search Bar -> see also typeahead.css*/

#div_id_search .input-group-append {
    margin-left: 0 !important;
}

#div_id_search .input-group-text {
    background-color: transparent;
    border: none;
    color: white;
}

#div_id_search .input-group-text:hover {
    cursor: pointer; /* hand pointer */
}

#div_id_search input {
    padding: .375rem 0;
    box-shadow: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;

    border-top: 0;
    border-left: 0;
    border-right: 0;
}
#div_id_search input:focus {
    padding: .375rem 0;
    box-shadow: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--etikigreen);
    box-shadow: 0 1px 0 0 var(--etikigreen);
}



.icon {
    height: 25px; /* should be square image */
}

label, .nav-link {
    font-size: 12px !important;
}


/*white line */
.whitehr {
    border-color: #eeeeee;
}

.smfont {
    font-size: 12px; /*25px;*/
}

.txtellipsis {
    overflow: hidden;
    white-space: nowrap;
    word-break: normal;
    text-overflow: ellipsis;
}


/* NAV-TABS */
.nav-tabs .nav-link.active {
    color: white;
    font-weight: bold;
    background-color: var(--full_bckgrnd);
    border-color: white white transparent;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: white white transparent;
    background-color: var(--full_bckgrnd);
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-radius: 0;
    color: white;
}

.nav-tabs .fas {
    font-size: 1.5em; /* sets size of font awesome */

}

.img-fullwidth {
    width: 100%;
    height: auto;
    margin-top: 20%;
}

.img-wrapper {
    position: relative;
}

.text-ovarlay {
    position: absolute;
    background-color: var(--trans_bckgrnd);
    top: 200px;
    left: 0;
    box-sizing: border-box;
    color: #fff;
    margin: 0;

}

.img-ovarlay-1 {
    width: 40%;
    height: auto;
    position: absolute;
    margin: 0;
    right: 20px;
    top: 20px;
}

.img-ovarlay-2 {
    width: 40%;
    height: auto;
    position: absolute;
    margin: 0;
    left: 80px;
    top: 20px;
}
