
body, html {
  background:  url("/static/etilog/img/background.gif")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100%;
}
noscript {
	position: absolute;
	text-align: center;
	top: 100px;
	left: 15px;
	color: black;
	/* Add a font */
	font-family: "Courier New", Courier, monospace;
	/* Set the font-size to 25 pixels */
	font-size: 1.5em; /*25px;*/
	font-weight: bold;
}
.fullsite-wrapper{
	/* Background image */
	/*background-image: url("/static/etilog/img/background.gif"); */
	/* Full-screen height: 100%; */
	height: 100%;
	/* Center the background image background-position: center; */
	
	/* Scale and zoom in the image background-size: cover; */
	
	/* Add position: relative to enable absolutely positioned elements inside the image (place text) position: relative; */
	
	/* Add a white text color to all elements inside the .bgimg container */
	color: white;
	/* Add a font */
	font-family: "Courier New", Courier, monospace;
	/* Set the font-size to 25 pixels */
	font-size: 1em; /*25px;*/
}

/* Position text in the top-left corner */
.topleft {
	position: absolute;
}

.topmiddle {
	text-align: center;	
}

/* Position text in the bottom-left corner */
.bottomleft {
	position: absolute;
	bottom: 0;
}

/* Position text in the middle */
.middle_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 70%;
}

.middle {
	text-align: center;
}
.changepos{
	padding-top: 15px;
	padding-bottom: 15px;
}
/* Style the <hr> element */
hr {
	margin: auto;
	width: 40%;
}

}
.date {
	width: 20em;
}

.bckground{
	/*max-width: 500px;*/
	padding: 10px 20px;
	margin: 10px auto;
	padding: 20px;
	border-radius: 8px;
	background-color: rgba(38, 33, 32, 0.8);
	/*display: None;
	z-index: 10;
	position: fixed;*/
}

