/*
 * bootstrap-tagsinput v0.8.0
 * 
 * modifiend bei Damian Hodel -> mdh

 .bootstrap-tagsinput in inputs.css
 */


.bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}

.bootstrap-tagsinput .badge {
    margin: 2px 1px; /* mdh; was margin: 2px 0px; */
    padding: 5px 8px;
    line-height: inherit; /* mdh; was not defined */
}

.bootstrap-tagsinput .badge [data-role="remove"],
.bootstrap-tagsinput .badge [data-role="select"]{
    margin-left: 8px;
    cursor: pointer;
}


:not(.div_tags_select) .bootstrap-tagsinput .badge [data-role="remove"]:after {
    content: "×";
    padding: 0px 4px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    font-size: 13px
}

.bootstrap-tagsinput .badge [data-role="remove"]:hover:after,
.bootstrap-tagsinput .badge [data-role="select"]:hover:after{

    background-color: rgba(0, 0, 0, 0.62);
}

.bootstrap-tagsinput .badge [data-role="remove"]:hover:active,
.bootstrap-tagsinput .badge [data-role="select"]:hover:active
{
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.bootstrap-tagsinput .badge [data-role="select"]:after,
.div_tags_select .bootstrap-tagsinput .badge [data-role="remove"]:after{
    content: "+";
    padding: 0px 4px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    font-size: 13px
}


.bootstrap-tagsinput span.twitter-typeahead {
    /*width: 100%;  modified by damian DH */
    width: 35%;
}