
{% load static %}
{#import scripts need to be under url to scripts (loaded by bootstrap4) #}
{#import bootstrap4#}
{% load bootstrap4 %} {# Embed Bootstrap CSS #}
{% bootstrap_css %} {# Embed Bootstrap JS+jQuery {% bootstrap_javascript jquery='full' %} #}
<!-- MDB -->
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- JQuery UI below JQuery -->
<script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>

<!-- MDB 2nd part-->
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script>

<!--base_script for datepicker -->
<script src="{% static 'etilog/js/base_script.js' %}"></script>

<script>
    const companies_url = "{% url 'etilog:load_jsondata' modelname='company' %}";
    const countries_url = "{% url 'etilog:load_jsondata' modelname='country' %}";
    const references_url = "{% url 'etilog:load_jsondata' modelname='reference' %}";
    const tags_url = "{% url 'etilog:load_jsondata' modelname='tags' %}";
</script>

<!-- tagsinput and typeahead -->
<script src="{% static 'etilog/js/etilog/tagsinput.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/bloodhound.min.js"></script>
    {# needed for typaahead #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.jquery.min.js"></script>
    <!-- jquery.min -->
<script src="{% static 'etilog/js/base_typeahead.js' %}"></script>
