<!--no javascript for parsing to json -->
<div class="div_iedetails d-flex flex-wrap">

    {% for column, cell in row.items %}
        {% if column.name == 'summary' %}
            <div id="div_id_{{ column.header }}" class="div_iedetail {{ column.attrs.div_class }} col-12">
                <label for="id_{{ column.header }}" class="detail_label">
                    {{ column.header }}
                </label>

                <div class=""><h6 class="iedetail" id="id_{{ column.header }}">{{ cell }} </h6>
                </div>
            </div>
        {% elif column.name == 'language' %}
            <div id="div_id_{{ column.header }}" class="div_iedetail {{ column.attrs.div_class }} col-12">
                <label for="id_language" class="detail_label">
                    Article is in {{ cell }}
                </label>
            </div>

        {% else %}


            <div id="div_id_{{ column.header }}" class="div_iedetail {{ column.attrs.div_class }} col-12 col-md-6">
                <label for="id_{{ column.header }}" class="detail_label">
                    {{ column.header }}
                </label>

                <div class=""><h6 class="iedetail" id="id_{{ column.header }}">{{ cell }} </h6>
                </div>
            </div>
        {% endif %}

    {% endfor %}


</div>
    {% include 'etilog/impev_details/impev_show_article_preview.html' %}
