<!--no javascript for parsing to json -->
<div class="col-12 d-flex flex-wrap">

    {% for column, cell in row.items %}


        <div id="div_id_{{ column.header }}" class="div_iedetail {{ column.attrs.div_class }}" >
            <label for="id_{{ column.header }}" class="detail_label">
                {{ column.header }}
            </label>

            <div class=""><h6 class="iedetail" id="id_{{ column.header }}">{{ cell }} </h6>
            </div>
        </div>

    {% endfor %}


</div>

<div class="col-12 ">
    <div class="div_iedetail showbtn" id='id_div_btn_{{ rec.pk }}'>

        <button class="btn btn-sm btn-link btn-block" type="button"
                data-toggle="collapse"
                onclick='full_article(this, "{{ rec.pk }}")'>
            show full article …
        </button>
    </div>
</div>

