<!--no javascript for parsing to json -->
<div class="div_iedetails">

    {% for column, cell in row.items %}


        <div id="div_id_{{ column.header }}" class="div_iedetail {{ column.attrs.div_class }}" >
            <label for="id_{{ column.header }}" class="detail_label">
                {{ column.header }}
            </label>

            <div class=""><h6 class="iedetail" id="id_{{ column.header }}">{{ cell }} </h6>
            </div>
        </div>

    {% endfor %}


</div>
    {% include 'etilog/impev_details/impev_show_article_preview.html' %}
