<!--no javascript for parsing to json -->
{%  if text_prev %}

<div class="">
    <div class="article-preview my-3">
        <h4 class="">{{ rec.article_title }}</h4>
        <h6>
            {{ text_prev }}
        </h6>
    </div>

    <div class="text-center showbtn" id='id_div_btn_{{ rec.pk }}'>

        <button class="btn btn-bright" type="button"
                data-toggle="collapse"
                onclick='full_article(this, "{{ rec.pk }}")'>
            show full article
        </button>
    </div>
</div>
{%  else  %}

<div class="">
    <div class="article-preview my-3">
        {% if rec.source_url %}
            <h6>
                Article could not be extracted. Original link: <a id="id_url_link" href="{{ rec.source_url }}"
                                                     target="_blank">{{ rec.source_url }}</a>
            </h6>
        {% else %}
            <h6>
                No URL provided to this Impact Event.
            </h6>
        {% endif %}
    </div>
</div>

{%  endif  %}


