<!--no javascript for parsing to json -->
{%  if text_prev %}

<div class="">
    <div class="article-preview my-3">
        <a href="{{ rec.source_url }}" target="_blank">
            <h4 class="">{{ rec.article_title }}  </h4>
            <h6>
                {{ text_prev }} <i class="fas fa-external-link-alt ml-1"></i>
            </h6>
        </a>
    </div>

</div>
{%  else  %}

<div class="">
    <div class="article-preview my-3">
        {% if rec.source_url %}
            <h6>
                Article could not be extracted. Original link: <a id="id_url_link" href="{{ rec.source_url }}"
                                                                  target="_blank">{{ rec.source_url }}
                <i class="fas fa-external-link-alt ml-1"></i>
            </a>
            </h6>
        {% else %}
            <h6>
                No URL provided to this Impact Event.
            </h6>
        {% endif %}
    </div>
</div>

{%  endif  %}


