<!--no javascript for parsing to json -->
{%  if text_prev %}

<div class="">
    <div class="article-preview my-3">
        <h4 class="">{{ rec.article_title }}</h4>
        <h6>
            {{ text_prev }}
        </h6>
    </div>

    <div class="text-center showbtn" id='id_div_btn_{{ rec.pk }}'>

        <button class="btn btn-bright" type="button"
                data-toggle="collapse"
                onclick='full_article(this, "{{ rec.pk }}")'>
            show full article …
        </button>
    </div>
</div>
{%  else  %}

<div class="">
    <div class="article-preview my-3">
        <h6>
           Article not found.
        </h6>
    </div>
</div>

{%  endif  %}


