{% extends 'base_darky.html' %} 
{% load static %}


{% block content %}

{% include 'nav_search_bar_hidden.html' %}

<div class="row">

<div class="col-1 col-lg-3"></div>
	<div class="col-10 col-lg-6">
			<div class="py-3 px-2 px-sm-0 text-center">
				<h5>etiki brings transparency to the business world</h5>
					<hr class="whitehr">
					<p>We create a platform that will help you to inform
						yourself about the ethical and sustainable behaviour of companies.</p>
					<p>About current and past events. With which other companies a specific company is
						connected (suppliers, owners, subsidiaries, etc.). All information
						reliable, easy to filter and free of charge! Sounds good? Yes, we are
						not quite there yet.</p>
					<h5>Well, what you will find on the prototype</h5>
					<p>On prealpha.etiki you can search for news articles about ethical
						and sustainable behaviour of companies. You can either search for the
						company or for a category that interests you. This helps you to form
						your opinion about the companies so that you can use it for future
						purchase decisions.</p>
					<p>Have fun informing about ethics and sustainability!</p>

			</div>




	</div>
	<div class="col-1 col-lg-3"></div>
</div>


{% endblock content %}