{% extends 'base_darky.html' %}
{% load static %}


{% block content %}

    {% include 'nav_search_bar_hidden.html' %}

     <div class="row px-md-3">
        <div class="col-0 col-md-1 col-xl-2"></div>
        <div class="col-12 col-md-10 col-xl-8">
            <div class="py-3 px-2 px-sm-0">

                <h5>About us</h5>
                <hr class="whitehr">
                <div>
                    <h6 class="link-intern ">etiki brings transparency to the business world</h6>
                </div>
                <div class="text-justify ml-md-2 ">
                    <p>We create a platform that will help you to inform
                        yourself about the ethical and sustainable behaviour of companies.</p>
                    <p>About current and past events. With which other companies a specific company is
                        connected (suppliers, owners, subsidiaries, etc.). All information
                        reliable, easy to filter and free of charge! Sounds good? Yes, we are
                        not quite there yet.</p>
                </div>
                <div>
                    <h6 class="link-intern ">Well, what you will find on the prototype</h6>
                </div>
                <div class="text-justify ml-md-2 ">
                    <p>On prealpha.etiki you can search for news articles about ethical
                        and sustainable behaviour of companies. You can either search for the
                        company or for a category that interests you. This helps you to form
                        your opinion about the companies so that you can use it for future
                        purchase decisions.</p>
                    <p>Have fun informing about ethics and sustainability!</p>

                    <p>Questions? <a class="" href="{% url 'etilog:faq' %}">FAQ</a></p>
                    <p>Comments? <a class="" href="{% url 'etikihead:contact' %}">Contact</a></p>
                </div>


            </div>


        </div>
        <div class="col-0 col-md-1 col-xl-2"></div>
    </div>


{% endblock content %}