{% extends 'base.html' %} 
{% load static %}

{% load crispy_forms_tags %}

{% load render_table from django_tables2 %} 
{% block head_css %} 
<link rel="stylesheet" type="text/css"
	href="{% static 'etilog/css/autocomplete.css' %}">
{{ form.media }} {# Adds date-picker required JS and CSS #}

{% endblock head_css %} 
{% block script %} 

{% endblock script %}

{% block title %}
Add {{ modelname }}
{% endblock title %} 
{% block sitetitle %} Add {{ modelname }} {% endblock sitetitle %}


{% block content %} {# script needs to be next to function and form (non in script block) #}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-8">
			<h6>{{ message }}</h6>
			<hr class="mt-0 mb-4">				
			{% crispy form %}	

		</div>


	</div>
</div>


{% endblock content %}





