{% load crispy_forms_tags %}
{% load static %}





<div class="col-12 col-lg-10  my-3 container z-depth-1 infront landing" id="div_filterform">
<div class="justify-content-center">
		
			
		<div class="col-12 text-center d-flex justify-content-between" id="divFilterHead">
			<button class="btn btn-sm btn-link collapse " type="button" id="filterClear" >
			
				<i class="fas fa-trash mr-1"></i>
				<span class="d-none d-sm-inline">Clear all</span>
				
			</button> 
			 <button class="btn btn-lg btn-link btn-link-big" type="button" id="link_filter" >
				<span class="collapse show showopposite">show Filters</span><span class="collapse"> Filters</span>
			</button> 
			<button class="btn btn-sm btn-link collapse" type="button" id="filterClose" >
				<i class="far fa-window-close mr-1"></i>
				<span class="d-none d-sm-inline">Close</span>
			</button> 
			
		</div>

		

		<div class="collapse" id="filterform">
		{% if filter %} 
			{% crispy filter.form %} 
		{% endif %} 
		</div>

</div>
</div>

