{% load crispy_forms_tags %}
{% load static %}



<div class="container">

	<div class="row justify-content-center">
		<div class="col-12 col-md-1 col-lg-2" ></div>
		
		<div class="col-12 col-md-10 col-lg-8">
			
			<div  id="id_topics">{# for testing class="collapse" #} 
			{% crispy topicform %} {# important: not filter.form|crispy #}
			</div>
		</div>
		<div class="col-12 col-md-1 col-lg-2"></div>
	</div>
</div>

<div class="col-12 col-lg-10 container bckground transp" id="div_filterform">
<div class="row justify-content-center">
		
			
		<div class="col-12 text-center">
			 <button class="btn btn-sm btn-link collapse" type="button" id="link_filter" >show/hide
			Filter options &#11022</button> 
			
		</div>

		

		<div class="collapse" id="filterform">
		{% crispy filter.form %} 
		</div>

</div>
</div>

