<!--no javascript for parsing to json -->
<div class="col-12 d-flex flex-wrap">

		{% for column, cell in row.items %}


			<div id="div_id_{{ column.header }}" class="div_iedetail"> 
			<label for="id_{{ column.header }}" class="detail_label">
                {{ column.header }}
            </label> 
            
            <div class=""> <h6 class="iedetail" id="id_{{ column.header }}">{{ cell }} </h6>
            </div> 
          </div>

		{% endfor %}


</div>

<div class="col-12 ">
	<div class="div_iedetail showbtn" id='id_div_btn_{{rec.pk}}'>
		
	<button class="btn btn-sm btn-link btn-block" type="button" 
		data-toggle="collapse" 
		onclick='full_article(this, "{{rec.pk}}")' >	
				show full article …
				</button>
	</div>
</div>





<div class="row justify-content-center collapse iearticle" id='id_article_{{rec.pk  }}' >
<div class="d-flex justify-content-center">
		
	<button class="btn btn-sm btn-link btn-block" type="button" data-toggle="collapse" 
		onclick='hide_full_article(id, "#id_div_btn_{{rec.pk}}")'>	
				hide full article …</button>
	</div>

		<div class="px-3 px-md-5 py-2">
		
				
			<p class="smfont txtellipsis">		
			original link: <a id="id_url_link" href="{{ rec.source_url  }}">{{rec.source_url  }}</a>		
			</p>	
			<div id="id_articleshowdiv" class="">
				<h3 id="id_titleshow">{{ rec.article_title }}</h3>
				<hr class = "whitehr">
				<div id="id_articleshow" >
					{{ rec.article_html |safe }}
				</div>
			</div>
		</div>
</div>	
	