<!--no javascript for parsing to json -->
<div class="container justify-content-center iearticle" >

		<div class="px-md-2 px-lg-4  py-2">
		
				
			<p class="smfont txtellipsis">		
			original link: <a id="id_url_link" href="{{ rec.source_url  }}" target="_blank">{{rec.source_url  }}</a>		
			</p>	
			<div id="id_articleshowdiv" class="">
				<h3 id="id_titleshow">{{ rec.article_title }}</h3>
				<hr class = "whitehr">
				<div id="id_articleshow" >
					{{ rec.article_html |safe }}
				</div>
			</div>
		</div>
</div>	