{# HTML5 declaration #}
<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

<div class="fullscreen-cover landing"></div>
<div class="fullsite-wrapper landing container">
	
	
	
	<div class="siteheader landing">
		<img alt="logo etiki" border="0" src="{% static 'etilog/img/logoetiki.svg' %}" />
	</div>
	
		
	
	<div class="row h-100 d-flex align-content-center justify-content-center">
	
		{# in small screens (sm) different column separation #}
		<div class = "row justify-content-center"> 
		{# include 'navigation.html' #}
		<div class= "col-1 col-lg-3"></div>
			<div class="col-10 col-lg-6">

				<div id="startinfo" class="collapse show">
					<div class="text-center">
						<h1>etiki - it's coming</h1>
						<hr class= "start_hr">
						<h6>
							<br>etiki brings more transparency into business – this is a prototype – any feedback appreciated! <small>♥</small>
						</h6>
					</div>
					</div>

					

				
			</div>
		<div class="col-1 col-lg-3"></div>
		</div>
		{% include 'nav_search_bar_hidden.html' %}
		{% include 'etilog/impactevents_overview_filter.html' %}
		{% include 'etilog/overview_tabs.html' %}


	</div>
	
	<div class = "sitefooter landing">
		<p>prealpha; © etiki 2019</p>
		<a href="{% url 'etilog:legal' %}" >Impressum – Legal Notice</a>
	</div>
</div>


{% block bottomscript %} {% endblock bottomscript %}
</body>


