{# ... #} {% extends 'base.html' %} 
{% load static %}
{% block djangoadmin %} 



{% endblock djangoadmin %}
{% load crispy_forms_tags %}

{% load render_table from django_tables2 %} 
{% block head_css %} 
{{ form.media }} {# Adds date-picker required JS and CSS #}

{% endblock head_css %} 
{% block script %} 
<!-- - <script src="{% static 'admin/js/core.js' %}"></script>
<script src="{% static 'admin/js/jquery.init.js' %}"></script> 
<script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script> -->

<script src="{% static 'etilog/js/etilog/newimpactevent.js' %}"></script> 
 


{% endblock script %}

{% block title %}New Impact Event
{% endblock title %} 
{% block sitetitle %} New Impact Event {% endblock sitetitle %}


{% block content %} {# script needs to be next to function and form (non in script block) #}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-8">
			<h6>{{ message }}</h6>
			<hr class="mt-0 mb-4">
			
			{% crispy form %}
		</div>


	</div>
</div>


{% endblock content %}





