{# ... #} {% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% load render_table from django_tables2 %} 
{% block head_css %} 
{{ form.media }} {# Adds date-picker required JS and CSS #}

{% endblock head_css %} 
{% block title %}New Impact Event
{% endblock title %} 
{% block sitetitle %} New Impact Event {% endblock sitetitle %}


{% block content %} {# script needs to be next to function and form (non in script block) #}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-8">
			<h6>{{ message }}</h6>
			<h6>New Impact Event</h6>
			<hr class="mt-0 mb-4">
			
			<form action="" method="post">
				{% csrf_token %}
				{{ form.source_url|as_crispy_field }} 
				<div class="row">
						<div class="col-6">{{ form.year|as_crispy_field }}</div>
						<div class="col-6">{{ form.date_published|as_crispy_field }}</div>
				</div>
				{{ form.company|as_crispy_field }} 
				{{ form.reference|as_crispy_field }}
				
				
				<button type="submit" class="btn btn-light">Save Impact Event</button>
				</div>

		</form>
	</div>
</div>
</div>


{% endblock content %}





