{% extends 'base_darky.html' %}
{% load static %}
{% block djangoadmin %}

{% endblock djangoadmin %}

{% load render_table from django_tables2 %}
{% block head_css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'etilog/css/etilog/table_filter.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'etilog/css/etilog/table.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'etilog/css/etilog/impev_show.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'etilog/css/etilog/company_show.css' %}">

    {{ filter.form.media }} {# Adds date-picker required and specific JS and CSS #}

{% endblock head_css %}
{% block script %}

    <script>
        const list_url = "{% url 'etilog:home' %}";
        const filter_url = "{% url 'etilog:filter' %}";
        const result_url = "{% url 'etilog:results' %}";

        const jsData = JSON.parse("{{ jsondata | escapejs }}");

        let landing = {{landing|yesno:"true,false" }};

    </script>
{% endblock script %}
{% block cls_overview %}active{% endblock cls_overview %}

{% block content %}

    {% include 'nav_search_bar_hidden.html' %}

    {% include 'etilog/impev_details/impev_show_article_modal.html' %}
    {% include 'etilog/overview_filter.html' %}
    {% include 'etilog/overview_tabs.html' %}


{% endblock content %}



{% block bottomscript %}



    <!-- for charts -> todo, separate; do not load jquery again (removes prev plugins -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'etilog/js/etilog/company_base.js' %}"></script>


    <!--following needs to be below body due to reference to the table -->
    <script src="{% static 'etilog/js/etilog/List.js' %}"></script>
    <script src="{% static 'etilog/js/etilog/table_list.js' %}"></script>
    <!--under tagsinput due to reference to tagsinput -->
    <script src="{% static 'etilog/js/etilog/filter_data.js' %}"></script>
    <script src="{% static 'etilog/js/etilog/filter_tagsinput.js' %}"></script>
    <script src="{% static 'etilog/js/etilog/filter_typahead.js' %}"></script>
    <script src="{% static 'etilog/js/etilog/filter_visual.js' %}"></script>

    <!--under other filter-js due to reference -->
    <script src="{% static 'etilog/js/etilog/filter_base.js' %}"></script>

    <!--underneath filter due to sources -->
    <script src="{% static 'etilog/js/etilog/overview_start.js' %}"></script>
    <!--no dependency so far -->
    <script src="{% static 'etilog/js/etilog/table_action.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"
            integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i"
            crossorigin="anonymous"></script>

    <script src="{% static 'etilog/js/etilog/filter_result.js' %}"></script>



{% endblock bottomscript %}



