{# HTML5 declaration #}
<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row justify-content-center">
        <h6 id="id_message"></h6>
    </div>
</div>

<div class="content-wrapper z-depth-1 px-0 px-sm-3 landing" id="tabContent">
    <div class="">
        <nav class="navbar z-depth-0 px-0">

            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active tooltip-item" data-placement="top" title="Donut Diagramm"
                       id="tab1" data-toggle="tab" href="#tabContent1" role="tab"
                   aria-controls="tabContent1" aria-selected="true">
                    <i class="fas fa-chart-pie"></i></a>
                <a class="nav-item nav-link tooltip-item" data-placement="top" title="List View"
                   id="tab2" data-toggle="tab" href="#tabContent2" role="tab"
                   aria-controls="tabContent2" aria-selected="false"><i class="fas fa-list"></i> </a>
                <a class="nav-item nav-link tooltip-item" data-placement="top" title="Business Connections"
                   id="tab3" data-toggle="tab" href="#tabContent3" role="tab"
                   aria-controls="tabContent3" aria-selected="false"><i class="fas fa-globe"></i></a>
                <a class="nav-item nav-link tooltip-item" data-placement="top" title="Word Cloud"
                   id="tab4" data-toggle="tab" href="#tabContent4" role="tab"
                   aria-controls="tabContent4" aria-selected="false"><i class="fas fa-cloud"></i></a>
            </div>
        </nav>

        {% crispy tendlegend %}


    </div>

    <div class="tab-content container px-0 ">


        <div class="tab-pane fade show active" id="tabContent1" role="tabpanel" aria-labelledby="tab1">
            {% include 'etilog/company_show.html' %}
        </div>
        <div class="tab-pane fade" id="tabContent2" role="tabpanel" aria-labelledby="tab2">

            <div id="id_ovtable">
            </div>
        </div>

        <div class="tab-pane fade" id="tabContent3" role="tabpanel" aria-labelledby="tab3">

            <p class='text-center'>Here you would see all business connections, starting from
                <span class="collapse show" id="networkAnyCompany">the company of your choice</span>
                <span class="collapse" id="networkCompany">the company of your choice</span>
                .

            </p>
            <div class="container d-flex flex-wrap justify-content-center">
                <div class="img-wrapper col-12 col-md-8">
                    <img src="{% static 'etilog/img/mockup.svg' %}" class="img-ovarlay-2" alt="mockup image">
                    <img src="{% static 'etilog/img/network.svg' %}" class="img-fullwidth"
                         alt="company wordcloud image">
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="tabContent4" role="tabpanel" aria-labelledby="tab4">
            <div class="container d-flex flex-wrap justify-content-center">
                <div class="img-wrapper col-12 col-md-8">
                    <img src="{% static 'etilog/img/mockup.svg' %}" class="img-ovarlay-1" alt="mockup image">
                    <img src="{% static 'etilog/img/wordcloud.svg' %}" class="img-fullwidth"
                         alt="company wordcloud image">
                </div>

            </div>

        </div>
    </div>


</div>
		


