{# {% extends 'base.html' %}  #}
{% load static %}
<HTML>

<HEAD>
<TITLE>etiki.org | it's coming </TITLE>
<STYLE TYPE="text/css">
<!--
A:link    {text-decoration: none}
A:visited {text-decoration: none}
A:active  {text-decoration: none}
-->
</STYLE>
</HEAD>

<BODY BGCOLOR="#ffffff" TEXT="#000000" LINK="#0000a0" VLINK="#0000a0" ALINK="#0000a0"> 
<p><!-- Please remove the following lines and add your own content  --></p> 
<p><br /></p> 
<p><br /></p><center><span style="font-size: xx-small; font-family: Arial, Helvetica;">&nbsp;</span> 
  <div id="file_title_0" class="fm_file_icon"><img alt="" border="0" src="{% static 'etilog/img/logoetiki.png' %}" /><br />
  </div><span style="font-size: xx-small; font-family: Arial, Helvetica;"> 
    <p> <span style="font-size: x-small;"><b>www.etiki.org - it's coming<br /></b></span></p></span></center> </BODY>

</HTML>