{% extends 'base_start.html' %} 
{% load static %}
<HTML>

<HEAD>
<TITLE>etiki.org | it's coming </TITLE>
{#import bootstrap4#} {% load bootstrap4 %} {# Embed Bootstrap CSS #}
{% bootstrap_css %} {# Embed Bootstrap JS+jQuery #} {% bootstrap_javascript jquery='full' %} 
{% block head_css %} {% endblock head_css %}
<STYLE TYPE="text/css">
<!--
A:link    {text-decoration: none}
A:visited {text-decoration: none}
A:active  {text-decoration: none}
-->
</STYLE>
</HEAD>

<BODY BGCOLOR="#ffffff" TEXT="#000000" LINK="#0000a0" VLINK="#0000a0" ALINK="#0000a0"> 
<p><!-- Please remove the following lines and add your own content  --></p> 
<p><br /></p> 

{% block content %}  


<p><br /></p><center><span style="font-size: xx-small; font-family: Arial, Helvetica;">&nbsp;</span> 
<div class="container center_div" >
<form  action="" method="post">
<p>Here you can register any article regarding (non-)ethical behaviour of any company.<br>We appreciate!</p>

    {% csrf_token %}
    {{ form}}
 <input  type="submit"    id = "submit_url"  
			value="Submit" />			 
</form> 

<p>{{ message }}<p> 
</div>  
  <div id="file_title_0" class="fm_file_icon"><img alt="" border="0" src="{% static 'etilog/img/logoetiki.png' %}" /><br />
  </div><span style="font-size: xx-small; font-family: Arial, Helvetica;"> 
    <p> <span style="font-size: x-small;"><b>www.etiki.org - it's coming<br /></b></span></p></span></center> 
    </BODY>

{% endblock content %} 
</HTML>