{# HTML5 declaration #}
<!DOCTYPE html>
{% load static %}
{% block djangoadmin %} {% endblock djangoadmin %}
{#import bootstrap4#} {% load bootstrap4 %} {# Embed Bootstrap CSS #}
{% bootstrap_css %} {# Embed Bootstrap JS+jQuery {% bootstrap_javascript jquery='full' %} #}

{% load crispy_forms_tags %}


{#import scripts need to be under url to scripts (loaded by bootstrap4) #}


<!-- MDB -->
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- JQuery UI below JQuery -->
<script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>

<!-- MDB 2nd part-->
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script>


{% block script %} {% endblock script %}


<head>

    <!-- Required meta tags for example for responsivity -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>etiki | {% block title %}it's coming{% endblock title %} </title>
    <!-- MDB -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css"
          href="{% static 'etilog/css/etilog/entrymask.css' %}">

    <link rel="stylesheet" type="text/css"
          href="{% static 'etilog/css/etilog/links.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'etilog/css/style_prototype.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'etilog/css/etilog/buttons.css' %}">




    {% block head_css %} {% endblock head_css %}

</head>

<body>
<noscript>To use etiki please enable JavaScript!</noscript>


{% block content %}

{% endblock content %}

{% block bottomscript %} {% endblock bottomscript %}
</body>


