.navbar-dark {
	background-color: #3E7480;
}
.navbar-etilog a {
	color: #3E7480;
}
body {
	/* default is 1rem or 16px -> for table*/
	font-size: 12px;
	font-family: "Courier New", Courier, monospace;
}

.text-primary {
	color: #3E7480;
}

.table-sm {
	font-size: 1em;
}

.table-sm .orderable a {
	color: #3E7480;
}
.center_div {
	margin: 0 auto;
	width: 80% /* value of your choice which suits your alignment */
}

.date {
	width: 20em;
}