.navbar-dark {
	background-color: #3E7480;
}
.navbar-etilog a {
	color: #3E7480;
}
body {
	/* default is 1rem or 16px -> for table*/
	font-size: 12px;
	font-family: "Courier New", Courier, monospace;
}

.text-primary {
	color: #3E7480;
}

.table-sm {
	font-size: 1em;
}

.table-sm .orderable a {
	color: #3E7480;
}
.center_div {
	margin: 0 auto;
	width: 80% /* value of your choice which suits your alignment */
}

.date {
	width: 20em;
}



.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}