{# HTML5 declaration #}
<!DOCTYPE html>
{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{# or put it in static #}

<script src="{% static 'etilog/js/script_etilog.js' %}"></script>

<head>
<title>{% block title %}etiki.org | it's coming  {% endblock title %} </title>
{#import bootstrap4#} {% load bootstrap4 %} {# Embed Bootstrap CSS #}
{% bootstrap_css %} {# Embed Bootstrap JS+jQuery #} {% bootstrap_javascript jquery='full' %} 
{% block head_css %} {% endblock head_css %}
<style>
.navbar-dark {
	background-color: #3E7480;
}
.navbar-etilog a {
	color: #3E7480;
}
body {
	/* default is 1rem or 16px */
	font-size: 14px;
}

.text-primary {
	color: #3E7480;
}

.table-sm {
	font-size: 1em;
}

.table-sm .orderable a {
	color: #3E7480;
}
</style>
</head>
<body>
	{# Navigation Menu #}
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark rounded">
			<a class="navbar-brand" href="/">etiki</a>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					href="">register article</a></li>
				
			</ul>

		</nav>
		

	</header>

	{# The Document Body #}

	<div id="site-wrapper">{% block content %} {% endblock content %}
	</div>

	{# The Footer #}

	<div class="footer">

		<div class="container">
			<br>

			<p>prealpha; © etiki</p>
		</div>
	</div>
</body>
