{# HTML5 declaration #}
<!DOCTYPE html>
{% load static %}
{% block djangoadmin %} {% endblock djangoadmin %}
{#import bootstrap4#} {% load bootstrap4 %} {# Embed Bootstrap CSS #}
{% bootstrap_css %} {# Embed Bootstrap JS+jQuery #} {% bootstrap_javascript jquery='full' %} 
{% block head_css %} {% endblock head_css %}
{% load crispy_forms_tags %}

<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->

{#import scripts need to be under url to scripts (loaded by bootstrap4) #}
<script src="{% static 'etilog/js/base_script.js' %}"></script> 
<script src="{% static 'etilog/js/etilog/startpage.js' %}"></script> 
<script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous"></script>

			  

{% block script %} {% endblock script %}


<head>

<!-- Required meta tags for example for responsivity -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title %}etiki.org | it's coming {%endblock title%} </title> 

<link rel="stylesheet" type="text/css"
	href="{% static 'etilog/css/style_prototype.css' %}">
<link rel="stylesheet" type="text/css"
	href="{% static 'etilog/css/etilog/startpage.css' %}">
<link rel="stylesheet" type="text/css"
	href="{% static 'etilog/css/datepicker.css' %}">
<link rel="stylesheet" type="text/css"
href="{% static 'etilog/css/tagsinput.css' %}">
<link rel="stylesheet" type="text/css"
href="{% static 'etilog/css/typeaheadjs.css' %}">
<link rel="stylesheet" 
	href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">	

</head>
<body>
<noscript>To use etiki please enable JavaScript!</noscript>
<div class="fullsite-wrapper container">
	
	
	
	<div class="topleft changepos">
		<img alt="" border="0" src="{% static 'etilog/img/logoetiki.png' %}" />
	</div>
	
		
	
	<div class="row h-100 d-flex align-content-center justify-content-center">
	
		{# in small screens (sm) different column separation #}
		<div class = "row justify-content-center"> 
		{# include 'navigation.html' #}
		<div class= "col-1 col-lg-3"></div>
			<div class="col-10 col-lg-6">

				<div id="startinfo" class="collapse show">
					<div class="middle">
						<h1>etiki - it's coming</h1>
						<hr class= "start_hr">
						<h6>
							<br>Welcome! On etiki you can lookup publications about ethical behaviour of companies and other organisations.
						</h6>
					</div>
					</div>

					

				
			</div>
		<div class="col-1 col-lg-3"></div>
		</div>
		{% include 'nav_search_bar_hidden.html' %}
		{% include 'etilog/impactevents_overview_filter.html' %}
		<div class = "container">
		<div class= "row justify-content-center">
				<h5 id="id_message"></h5>
		</div>
		</div>

		<div class= "content-wrapper collapse" id="tabContent">
			<div class= "container bckground fullbg">
				<nav class= "navbar">
				  <div class="nav nav-tabs" id="nav-tab" role="tablist">
				    <a class="nav-item nav-link active" id="table-tab" data-toggle="tab" href="#id_oviewtable" role="tab" aria-controls="id_oviewtable" aria-selected="true"><i class="fas fa-list"></i></a>
				    <a class="nav-item nav-link" id="wordcloud-tab" data-toggle="tab" href="#wordcloud" role="tab" aria-controls="wordcloud" aria-selected="false"><i class="fas fa-industry"></i> </a>
				    <a class="nav-item nav-link" id="company-tab" data-toggle="tab" href="#company-details" role="tab" aria-controls="company-details" aria-selected="false" onclick="drawCharts()"><i class="fas fa-globe"></i></a>
				    <a class="nav-item nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false"><i class="fas fa-question"></i></a>
				  
				  
				  </div>
			</nav>
			
			</div>
			
			<div class="tab-content bckground">
					<div  class="tab-pane fade show active" id="id_oviewtable" role="tabpanel" aria-labelledby="table-tab">
					{% block content %} 
					{% endblock content %}
					</div>
				  <div class="tab-pane fade" id="wordcloud" role="tabpanel" aria-labelledby="wordcloud-tab">
					  	<div class="bckground fullbg img-wrapper col-md-8">
					  	<img src="{% static 'etilog/img/mockup.svg' %}" class="img-ovarlay" alt="mockup image">			  	 
					  	<img src="{% static 'etilog/img/wordcloud.svg' %}" class="img-fullwidth" alt="company wordcloud image" >
					  	</div>
					</div>
				  <div class="tab-pane fade" id="company-details" role="tabpanel" aria-labelledby="company-tab" >
				  		{% include 'etilog/company_show.html' %}
				  </div>
				  <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
					  <h5>What it is about</h5>
					  <hr class="whitehr">
					  <p>blablabla</p>
					  <p>blablabla</p>

				  </div>
			</div>
			
	

		</div>
		

		
		

	</div>
	
	<div class = "bottomleft changepos">
		<p>prealpha; © etiki 2019</p>
	</div>
</div>


{% block bottomscript %} {% endblock bottomscript %}
</body>

