{# HTML5 declaration #}
<!DOCTYPE html>
{% load static %}
<script src="{% static 'algoterm/js/script_algoterm.js' %}"></script>
<head>
<title>{% block title %}etiki {% endblock title %} | etiki</title>
{#import bootstrap4#} 
{% load bootstrap4 %} 

{# Embed Bootstrap CSS #}
{% bootstrap_css %} 
{# Embed Bootstrap JS+jQuery #}
{% bootstrap_javascript jquery='full' %} 
<style>
</style>
</head>
<body>

	{# The Document Body #}

	<div id="site-wrapper">{% block content %} {% endblock content %}
	</div>

	{# The Footer #}

	<div class="footer">

		<div class="container">
			<br>

			<p>prealpha; Copyright etiki.org</p>
		</div>
	</div>
</body>
