{# HTML5 declaration #}
<!DOCTYPE html>
{% load static %}
{% block djangoadmin %} {% endblock djangoadmin %}
{% load crispy_forms_tags %}


{% include 'base_include/base_scripts.html'  %}
{% block script %} {% endblock script %}
<head>

    <!-- Required meta tags for example for responsivity -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>etiki | {% block title %}it's coming{% endblock title %} </title>

    {% include 'base_include/base_css.html'  %}
    {% block head_css %} {% endblock head_css %}

</head>
<body>
<noscript>To use etiki please enable JavaScript!</noscript>

    {% if landing %}
        {% include 'etilog/landing/landingpage.html' %}
    {% else %}

        <div class="fullsite-wrapper container">
            {% include 'siteheader.html' %}
            <div class="row d-flex align-content-center justify-content-center">
                {% block content %} {% endblock content %}


            </div>
            <div class="sitefooter py-3">
                {% include 'footer.html' %}
            </div>
        </div>
{% endif %}
{% block bottomscript %} {% endblock bottomscript %}
</body>


