{# HTML5 declaration #}
<!DOCTYPE html>
{% load static %}
{% block djangoadmin %} {% endblock djangoadmin %}
{#import bootstrap4#} {% load bootstrap4 %} {# Embed Bootstrap CSS #}
{% bootstrap_css %} {# Embed Bootstrap JS+jQuery #} {% bootstrap_javascript jquery='full' %} 

{% load crispy_forms_tags %}

<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->

{#import scripts need to be under url to scripts (loaded by bootstrap4) #}
<!--base_script for datepicker -->
<script src="{% static 'etilog/js/base_script.js' %}"></script> 



<script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous"></script>

<!-- MDB -->
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>			  

{% block script %} {% endblock script %}


<head>

<!-- Required meta tags for example for responsivity -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title %}etiki.org | it's coming {%endblock title%} </title> 
<!-- MDB -->
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">


<link rel="stylesheet" type="text/css"
	href="{% static 'etilog/css/style_prototype.css' %}">
<link rel="stylesheet" type="text/css"
	href="{% static 'etilog/css/etilog/startpage.css' %}">
<link rel="stylesheet" type="text/css"
	href="{% static 'etilog/css/datepicker.css' %}">
<link rel="stylesheet" type="text/css"
href="{% static 'etilog/css/tagsinput.css' %}">
<link rel="stylesheet" type="text/css"
href="{% static 'etilog/css/typeaheadjs.css' %}">


{% block head_css %} {% endblock head_css %}

</head>
<body>
<noscript>To use etiki please enable JavaScript!</noscript>
<div class="fullscreen-cover"></div>
<div class="fullsite-wrapper fullsite-wrapper-start container">
	
	
	
	<div class="topleft changepos">
		<img alt="logo etiki" border="0" src="{% static 'etilog/img/logoetiki.svg' %}" />
	</div>
	
		
	
	<div class="row h-100 d-flex align-content-center justify-content-center">
	
		{# in small screens (sm) different column separation #}
		<div class = "row justify-content-center"> 
		{# include 'navigation.html' #}
		<div class= "col-1 col-lg-3"></div>
			<div class="col-10 col-lg-6">

				<div id="startinfo" class="collapse show">
					<div class="middle">
						<h1>etiki - it's coming</h1>
						<hr class= "start_hr">
						<h6>
							<br>etiki brings more transparency into business – this is a prototype – any feedback appreciated! <small>♥</small>
						</h6>
					</div>
					</div>

					

				
			</div>
		<div class="col-1 col-lg-3"></div>
		</div>
		{% include 'nav_search_bar_hidden.html' %}
		{% include 'etilog/impactevents_overview_filter.html' %}
		<div class = "container">
		<div class= "row justify-content-center">
				<h5 id="id_message"></h5>
		</div>
		</div>

		<div class= "content-wrapper collapse z-depth-1 px-0 px-sm-3" id="tabContent">
			<div class= "">
				<nav class= "navbar z-depth-0 px-0">
				  <div class="nav nav-tabs" id="nav-tab" role="tablist">
				    <a class="nav-item nav-link active" id="table-tab" data-toggle="tab" href="#id_oviewtable" role="tab" aria-controls="id_oviewtable" aria-selected="true"><i class="fas fa-list"></i></a>
				    <a class="nav-item nav-link" id="company-tab" data-toggle="tab" href="#company-details " role="tab" aria-controls="company-details" aria-selected="false"><i class="fas fa-chart-pie"></i> </a>
				    <a class="nav-item nav-link" id="wordcloud-tab" data-toggle="tab" href="#wordcloud" role="tab" aria-controls="wordcloud" aria-selected="false"><i class="fas fa-globe"></i></a>
				    <a class="nav-item nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false"><i class="fas fa-question"></i></a>
				  
				  
				  </div>
				</nav>
				{% crispy tendlegend %}
			
			</div>
			
			<div class="tab-content container px-0 ">
					<div  class="tab-pane fade show active" id="id_oviewtable" role="tabpanel" aria-labelledby="table-tab">
					{% block content %} 
					{% endblock content %}
					</div>
				  <div class="tab-pane fade" id="wordcloud" role="tabpanel" aria-labelledby="wordcloud-tab">
					  	<div class="container d-flex flex-wrap justify-content-center">
					  	<div class="img-wrapper col-12 col-md-6">
						  	<img src="{% static 'etilog/img/mockup.svg' %}" class="img-ovarlay-1" alt="mockup image">			  	 
						  	<img src="{% static 'etilog/img/wordcloud.svg' %}" class="img-fullwidth" alt="company wordcloud image" >
					  	</div>
					  	<div class="img-wrapper col-12 col-md-6">
						  	<img src="{% static 'etilog/img/mockup.svg' %}" class="img-ovarlay-2" alt="mockup image">			  	 
						  	<img src="{% static 'etilog/img/network.svg' %}" class="img-fullwidth" alt="company wordcloud image" >
					  	</div>
					  	</div>
					</div>
				  <div class="tab-pane fade" id="company-details" role="tabpanel" aria-labelledby="company-tab" >
				  		{% include 'etilog/company_show.html' %}
				  </div>
				  <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
					  <div class="py-3 px-2 px-sm-0">
						  <h5>What it is about</h5>
						  <hr class="whitehr">
						  <p>blablabla</p>
						  <p>blablabla</p>
					  </div>

				  </div>
			</div>
			
	

		</div>
		

		
		

	</div>
	
	<div class = "bottomleft changepos">
		<p>prealpha; © etiki 2019</p>
		<a href="{% url 'etilog:legal' %}" >Impressum – Legal Notice</a>
	</div>
</div>


{% block bottomscript %} {% endblock bottomscript %}
</body>


