{% load crispy_forms_tags %}
{% load static %}


<div class="container sticky-top navbar navbar-dark landing" id="id_contsearch">

    <div class="row d-flex justify-content-center">

        <div class="col-6 col-md-1 col-lg-2 d-flex justify-content-start">

            <a class="navbar-brand" href="{% url 'etilog:home' %}">
                <div class="landing  d-flex justify-content-center align-items-center h-100"
                     id="small_logo">

                    <img class="h-75" id="img_sm" alt="" src="{% static 'etilog/img/logo_sm.svg' %}"/>

                </div>
            </a>


        </div>

        <div class="col-12 col-md-10 col-lg-8 order-10 order-md-0">
            {% if searchform %}
                <div class="searchform" id="mainsearchform">{# for testing class="collapse" #}
                    {% crispy searchform %} {# important: not filter.form|crispy #}
                </div>
            {% endif %}
        </div>


        <div class="col-6 col-md-1 col-lg-2 d-flex justify-content-end justify-content-md-center">
                <button class="navbar-toggler landing" type="button" data-toggle="collapse"
                        data-target="#collapsenav">
                    <span class="navbar-toggler-icon"></span>
                </button>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-md-6"></div>
        <div class="col-12 col-md-6 col-lg-5 text-right">
            <div class="collapse navbar-collapse" id="collapsenav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a
                            class="nav-link {% block cls_overview %}{% endblock cls_overview %}"
                            href="{% url 'etilog:home' %}">search</a></li>


                    <li class="nav-item"><a
                            class="nav-link {% block cls_newie %}{% endblock cls_newie %}"
                            href="{% url 'etikicapture:newimpactevent' %}">New Impact Event</a></li>


                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link"
                                            href="{% url 'usermgmt:profile' %}">{{ user.username }}</a></li>

                    <li class="nav-item"><a class="nav-link"
                                            href="{% url 'usermgmt:logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link"
                                            href="{% url 'usermgmt:login' %}">Login | Register</a></li>
                {% endif %}
                </ul>

                {% if user.is_staff %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown"><a
                                class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Exports</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'impexport:export_csv_nlp' %}">Export:
                                    CSV_NLP</a> <a class="dropdown-item"
                                                   href="{% url 'impexport:export_csv_base' %}">Export: CSV_Base</a>
                                <a
                                        class="dropdown-item"
                                        href="{% url 'impexport:export_csv_exterrs' %}">CSV: Extract
                                    Errors</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown"><a
                                class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Imports</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'impexport:import_dbdata' %}">Import
                                    DB Data</a>
                                <a class="dropdown-item"
                                   href="{% url 'etikicapture:extract_text_all' %}">Extract all IE's</a>
                                <a class="dropdown-item"
                                   href="{% url 'impexport:update_db_internal' %}">Internal DB Update</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                                href="{% url 'admin:index' %}">Admin</a></li>

                    </ul>
                {% endif %}
            </div>
        </div>
            <div class="col-0 col-lg-1"></div>


        </div>


</div>
