 {# Navigation Menu #}

<header class="navbar sticky-top navbar-expand-lg navbar-dark rounded"
	id="id_navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">etiki</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#collapsenav">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="collapsenav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a
					class="nav-link {% block cls_overview %}{%endblock cls_overview %}"
					href="{% url 'etilog:home' %}">Listview</a></li> 
				{% if user.is_authenticated %}
				<li class="nav-item"><a
					class="nav-link {% block cls_newie %}{%endblock cls_newie %}"
					href="{% url 'etilog:newimpactevent' %}">New Impact Event</a></li> 
				{% endif %}
			</ul>
			<ul class="navbar-nav ml-auto">
				{% if user.is_authenticated %}
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">Exports</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{% url 'etilog:export_csv_nlp' %}">Export:
							CSV_NLP</a> <a class="dropdown-item"
							href="{% url 'etilog:export_csv_base' %}">Export: CSV_Base</a> <a
							class="dropdown-item"
							href="{% url 'etilog:export_csv_exterrs' %}">CSV: Extract
							Errors</a>
					</div></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">Imports</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{% url 'etilog:import_dbdata' %}">Import
							DB Data</a> <a class="dropdown-item"
							href="{% url 'etilog:extract_text_all' %}">Extract all IE's</a>
					</div></li>
				<li class="nav-item"><a class="nav-link"
					href="{% url 'admin:index' %}">Admin</a></li>
				<li class="nav-item"><a class="nav-link"
					href="{% url 'etilog:logout' %}">Logout</a></li> {% else %}
				<li class="nav-item"><a class="nav-link"
					href="{% url 'login' %}">Login</a></li> {% endif %}

			</ul>
		</div>
	</div>


</header>


