{% extends 'base_darky.html' %}
{% load static %}


{% block content %}

    {% include 'nav_search_bar_hidden.html' %}

    <div class="row px-md-3">

        <div class="col-0 col-md-1 col-xl-2"></div>
        <div class="col-12 col-md-10 col-xl-8">
            <div class="py-3 px-2 px-sm-0">
                <h5>Frequent Asked Questions</h5>
                <hr class="whitehr">
                {% for faq in faqs %}
                    <p>
                        <a class="link-intern " href="#faq_{{ faq.id }}">{{ faq.question }}</a>
                    </p>




                {% endfor %}
                {% for faq in faqs %}

                    <div id="faq_{{ faq.id }}" class="anchor">
                        <h6 class="link-intern ">{{ faq.question }}</h6>
                    </div>


                    <div class="text-justify ml-md-2 ">
                        <p class="">{{ faq.answer|urlizetrunc:50|linebreaks }} </p>


                        {% for rel_faq in faq.related_question.all %}

                            <p>
                                See also <a class="" href="#faq_{{ rel_faq.id }}">{{ rel_faq.question }}</a>
                            </p>

                        {% endfor %}
                    </div>

                {% endfor %}

            </div>


        </div>
        <div class="col-0 col-md-1 col-xl-2"></div>
    </div>


{% endblock content %}