{% extends 'base_darky.html' %}
{% load static %}

{% block title %} Impressum {% endblock title %}

{% block content %}


    <div class="legal container">
        <div class="py-3 d-flex flex-wrap justify-content-center">
            <div class="">
                <H4>Impressum</H4>
                <H6>Verein etiki</H6>
                <H6>Wiedingstrasse 28</H6>
                <H6>CH-8055 Zürich</H6>
                <H6>Schweiz</H6>

            </div>
        </div>
    </div>


{% endblock content %}