{% extends 'base_darky.html' %}
{% load static %}

{% block title %} legal {% endblock title %}

{% block content %}


    <div class="legal container">
        <div class="py-3">
            <ol>
                <li>
                    Cookies
                    <p>etiki uses the following cookies:</p>
                    <ul>

                        <li>Strictly necessary cookies: For example we set a cookie when you sign in.
                        </li>
                        <li>Functional cookies: These help us personalise etiki to you by remembering your preferences and settings.
                        </li>

                    </ul>
                    <p>You can refuse cookies in your browser’s settings.</p>
                </li>
                <li>
                    Content
                    <p>We or users of etiki do not write articles or analysis about companies. We only show previous published information in a structured way.
                        Thus, we are not responsible for the content shown in an article. The Link to the original source is provided.
                        An Impact Event shows usually a short summary about the article, which should summarize what is written in the article. That is the only content contributed by users of etiki.
                    </p>
                </li>
                <li>
                    Logos provided by <a href="https://clearbit.com/">Clearbit</a>
                </li>

            </ol>

        </div>
    </div>


{% endblock content %}