{% extends 'base_darky.html' %}
{% load static %}

{% block title %} legal {% endblock title %}

{% block content %}


    <div class="legal container">
        <div class="py-3">
            <H6>**ENGLISCH VERSION IS COMING SOON**</H6>
            <H6>DEUTSCH</H6>
            <ol>
                <li>
                    Inhalte
                    <p>Etiki will Transparenz schaffen. Basierend auf publizierten und wahren Informationen wollen wir
                        das Verhalten eines Unternehmens bezüglich Ethik und Nachhaltigkeit einfach und verständlich
                        abbilden.
                    </p>
                    <p>
                        Wir oder Benutzer von etiki schreiben keine Artikel oder Analysen über Unternehmen. Wir zeigen
                        nur bereits veröffentlichte Informationen in strukturierter Form. Wir sind daher nicht für den
                        Inhalt eines Artikels verantwortlich. Der Link zur Originalquelle wird angegeben.
                        Eine Zusammenfassung, die teilweise bei Impact Events angezeigt wird, wird von Usern von etiki
                        verfasst.
                    </p>
                    <p>
                        Die generierten Übersichten zu Unternehmen (wie z. B ein Diagramm) basieren auf bereits
                        publizierten und Informationen von vertrauenswürdigen Quellen (siehe dazu «wahre und korrekt
                        kategorisierte Artikel auf etiki»)
                    </p>
                    <p>
                        Sie sollen das Verhalten eines Unternehmens möglichst genau abbilden. Jedoch ist der hinterlegte
                        Datensatz nie vollständig und die Übersicht daher weder vollständig noch abschliessend.
                        Insbesondere Vorsicht gilt, wenn der Datensatz (Anzahl Impact Events) sehr klein ist.

                    </p>
                </li>
                <li>
                    Nutzungsbedingungen
                    <p>Als User von etiki erklären Sie sich mit den Nutzungsbedingungen von etiki einverstanden.
                    </p>
                    <ol>
                        <li>
                            Hochladen von Artikeln (Neuer Impact Event)
                            <p>Etiki will Transparenz schaffen. Basierend auf publizierten und wahren Informationen
                                wollen wir das Verhalten eines Unternehmens bezüglich Ethik und Nachhaltigkeit einfach
                                und verständlich abbilden.</p>
                            <p>
                                Es sollen nur Artikel hinzugefügt werden, die wahr sind und von Quellen, denen Sie
                                vertrauen. Wenn Sie einen Artikel hochladen, bestätigen Sie, dass den Artikel sorgfältig
                                ausgewählt haben und der Quelle vertrauen.
                                Insbesondere sollen Artikel nicht hinzugefügt werden, auf die folgendes zutrifft:
                            </p>
                            <ul>

                                <li>Er verstößt gegen diese Nutzungsbedingungen
                                </li>
                                <li>Er ist rechtswidrig, irreführend, diskriminierend oder betrügerisch.
                                </li>
                                <li>Er verletzt die Rechte einer anderen Person oder verstößt dagegen, z. B. deren
                                    geistige Eigentumsrechte.
                                </li>

                            </ul>
                            <p>
                                Sie dürfen keine Viren oder schädlichen Code hochladen oder etwas tun, das die
                                einwandfreie Funktionsweise bzw. das Erscheinungsbild unserer Produkte unterbinden,
                                überlasten oder beeinträchtigen könnte.
                            </p>
                        </li>
                        <li>
                            Kategorisieren von Artikeln (Impact Event hinzufügen)
                            <p>Die Kategorisierung eines Artikels soll dessen Inhalt entsprechen in Bezug auf das
                                ausgewählte Unternehmen widerspiegeln. Dazu muss der Artikel sorgfältig gelesen und
                                verstanden werden. «Negativ» bedeutet, dass der/die Autor*in mit dem Artikel eine
                                negative Kritik ausdrückt. «Positiv» bedeutet, dass eine positive Kritik (Lob)
                                ausgedrückt wird. «Kontrovers» bedeutet, der Artikel ist weder klar negativ noch klar
                                positiv. Wenn Sie einen Artikel kategorisieren, bestätigen Sie, dass Sie die
                                Kategorisierung nach den oben erwähnten Grundsätzen vorgenommen haben.
                            </p>
                        </li>
                        <li>
                            Verfassen der Zusammenfassung (Impact Event
                            hinzufügen)
                            <p>Ein User, der ein Impact Event hinzufügt, kann eine kurze Zusammenfassung über den
                                Artikel verfassen. Die Zusammenfassung soll den wesentlichen Inhalt widergeben. Sie soll
                                keine Interpretationen und Bewertungen enthalten. Sie soll auch keine Spannungsbögen
                                enthalten. Wenn Sie eine Zusammenfassung schreiben, bestätigen Sie, dass die
                                Zusammenfassung nach den oben erwähnten Grundsätzen verfasst haben
                            </p>
                        </li>
                        <li>
                            Wahre und korrekt kategorisierte Artikel auf etiki
                            <p>Ein transparenter und von der Community betriebener Mechanismus soll dafür sorgen, dass
                                nur wahre und korrekt kategorisierte Artikel auf etiki angezeigt werden. Der Mechanismus
                                kurz erklärt: Nur erfahrene User (mit hoher Reputation) können eine Quelle als
                                vertrauenswürdig und die Kategorisierung als korrekt einstufen und somit dafür sorgen,
                                dass ein Artikel in Form eines Impact Events auf etiki veröffentlicht wird. Erst dann
                                nimmt ein Impact Event Einfluss auf die generierten Übersichten zu einem Unternehmen
                                (wie z. B. ein Diagramm)
                            </p>
                            <p>
                                Wir behalten uns vor Inhalte, die gegen diese Bestimmungen verstoßen, entfernen oder
                                blockieren. Insbesondere wenn wir feststellen, dass dies erforderlich ist, um negative
                                rechtliche bzw. regulatorische Auswirkungen für etiki zu vermeiden oder zu mindern.
                            </p>
                            <p>
                                Falls Sie als User (oder als Unternehmen) auf etiki Informationen finden, die nicht
                                wahr sind, melden Sie dies bitte uns <a class="" href="{% url 'etikihead:contact' %}">Contact</a>
                            </p>
                            </p>
                        </li>
                    </ol>
                </li>
                <li>
                    Unternehmen
                    <p>Etiki will Transparenz schaffen. Basierend auf publizierten und wahren Informationen wollen wir
                        das Verhalten eines Unternehmens bezüglich Ethik und Nachhaltigkeit einfach und verständlich
                        abbilden.
                        Falls Sie als Unternehmen auf etiki Informationen finden, die nicht wahr sind, melden Sie dies
                        bitte
                        uns <a class="" href="{% url 'etikihead:contact' %}">Contact</a></p>
                    </p>
                </li>


                <li>
                    Cookies
                    <p>etiki verwendet die folgenden Cookies:</p>
                    <ul>

                        <li>Streng notwendige Cookies: Zum Beispiel setzen wir ein Cookie, wenn Sie sich anmelden.
                        </li>
                        <li>Funktionale Cookies: Diese helfen uns, etiki für Sie zu personalisieren, indem sie Ihre
                            Präferenzen und Einstellungen speichern.
                        </li>

                    </ul>
                    <p>Sie können Cookies in den Einstellungen Ihres Browsers ablehnen.</p>
                </li>


            </ol>

        </div>
    </div>


{% endblock content %}