{% extends 'base_darky.html' %}
{% load static %}

{% block title %} Privacy {% endblock title %}

{% block content %}


    <div class="legal container">
        <div class="py-3">
            <H6>**ENGLISCH VERSION IS COMING SOON**</H6>
            <H6>DEUTSCH</H6>
            <ol>
                <li>
                    Welche Daten wir speichern
                    <p>Wenn Sie sich bei etiki registrieren, speichern wir die Daten, die Sie bei der Registrierung
                        angeben: Ihr Name, Ihre Mailadresse</p>
                    <p>Wenn Sie etiki kontaktieren, speichern wir bei Bedarf die Informationen, die Sie uns bei
                        Kontaktierung angeben</p>
                </li>
                <li>
                    Cookies
                    <p>etiki verwendet die folgenden Cookies:</p>
                    <ul>

                        <li>Streng notwendige Cookies: Zum Beispiel setzen wir ein Cookie, wenn Sie sich anmelden.
                        </li>
                        <li>Funktionale Cookies: Diese helfen uns, etiki für Sie zu personalisieren, indem sie Ihre
                            Präferenzen und Einstellungen speichern.
                        </li>

                    </ul>
                    <p>Sie können Cookies in den Einstellungen Ihres Browsers ablehnen.</p>
                </li>
            </ol>

        </div>
    </div>


{% endblock content %}