{% extends 'base_darky.html' %}
{% load static %}


{% block content %}

    {% include 'nav_search_bar_hidden.html' %}

    <div class="row px-md-3  w-100">

        <div class="col-0 col-md-1 col-xl-2"></div>
        <div class="col-12 col-md-10 col-xl-8">
            <div class="py-3 px-2 px-sm-0">
                <h5>What we are working on</h5>
                <hr class="whitehr">
                <div class="pb-5">
                    {% for todo in todos %}
                        <p>
                            <a class="link-intern " href="#todo_{{ todo.id }}">{{ todo.name }}</a>
                        </p>
                    {% endfor %}
                </div>

                {% for todo in todos %}

                    <div id="todo_{{ todo.id }}" class="anchor">
                        <h6 class="link-intern ">{{ todo.name }}</h6>
                    </div>


                    <div class="text-justify ml-md-2 ">
                        <p class="">{{ todo.description|urlizetrunc:50|linebreaks }} </p>
                        {% for rel_todo in todo.related_todo.all %}

                            <p>
                                See also <a class="" href="#todo_{{ rel_todo.id }}">{{ rel_todo.name }}</a>
                            </p>

                        {% endfor %}
                    </div>

                {% endfor %}

            </div>


        </div>
        <div class="col-0 col-md-1 col-xl-2"></div>
    </div>
{% endblock content %}