{% extends 'usermgmt/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}
{% endblock title %}

{% block cls_userprofile %} active {% endblock cls_userprofile %}

{% block userform %}

    <div class="container p-none etiki-form">
        <p><span id="id_up_message" class="message">{% if user %}
            Hello {{ user.username }}
        {% endif %}</span></p>
        <div id="id_div_errors">

        </div>
        {% if user %}
            <h2>{{ user.username }}
                <small class="text-muted mx-2">Reputation {{ user.profile.privilege_points }}</small>
            </h2>
            <h6>
                <small class="text-muted">{{ user.last_login }} | {{ user.date_joined }}</small>
            </h6>
        {% else %}
            <h2>New User
            </h2>
        {% endif %}
    <p>

    </p>
        {% crispy form %}
    </div>
{% endblock userform %}



