{% extends 'base_darky.html' %}
{% load crispy_forms_tags %}

{% block title %}Profile
{% endblock title %} 
{% block cls_userprofile %}active{%endblock cls_userprofile %}


{% block content %} {# script needs to be next to function and form (non in script block) #}

<div class="container">
</br>
	<div class="row justify-content-center">
		<div class="col-8">
			<h6 id="id_up_message">{{ message }}</h6>

			<hr class="mt-0 mb-4">
			<div class="container p-none etiki-form">
                <h2>{{ user.username }}
                    <small class="text-muted small mx-2">Reputation {{ user.profile.privilege_points }}</small>
                </h2>
                <h6>
                    <small class="text-muted small mx-2">{{ user.last_login }} | {{ user.date_joined }}</small>
                </h6>


					{% crispy form %}
			</div>
			
		</div>


	</div>
</div>
{% endblock content %}

