

.div_iedetail{
	margin: .3rem;
	padding: .3rem;
    vertical-align: top;
    background-color:var(--full_bckgrnd);
    color: black;
	
}

.iedetail{
	white-space: normal;
	color: white;
}
.detail_label{
	color: var(--light_bckgrnd);

}

