

.div_iedetail{
	margin: .3rem;
	padding: .3rem;
    vertical-align: top;
    background-color:var(--full_bckgrnd);
	
	
}

.iedetail{
	white-space: normal;
	color: white;
}
.detail_label{
	color: var(--light_bckgrnd);

}
.iearticle{
	/* needed as in table */
	white-space: normal; 
	word-break: normal;
	font-size: 16px;
	background-color:var(--full_bckgrnd);
}

