.form-control, .form-control:focus {
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border: None;
    border-radius: 0;
    box-shadow: None;
}

.etiki-form .form-control, .etiki-form .form-control:focus {
    color: var(--full_bckgrnd);
    background-color: var(--bright_bg);
}

/*Search Field incl. Icon -> see also typeahead.css*/
.div_search_typeahead {
    /* overwrite form-group css */
    margin-bottom: 0;
}

.div_search_typeahead .input-group-append {
    margin-left: 0 !important;
}
/* .div_search_typeahead  and dateyearpicker */
.input-group-text {
    background-color: transparent;
    border: none;
    color: white;
}

.div_search_typeahead .input-group-text:hover {
    cursor: pointer; /* hand pointer */
}

.div_search_typeahead input{
    box-shadow: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;

    border-top: 0;
    border-left: 0;
    border-right: 0;
}


.div_search_typeahead input {
    padding: .375rem 0;
}



.div_search_typeahead input:focus
{
    padding: .375rem 0;

    border-bottom: 1px solid #fff;
    border-radius: 0;

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--etikigreen);
    box-shadow: 0 1px 0 0 var(--etikigreen);
    outline: none; /* in input blue shadow is outline */
}

.div_search_typeahead span.twitter-typeahead {
    /*width: 100%;  modified by damian DH  in tagesinput.css*/
    width: 1%;
}


.alltaginput .bootstrap-tagsinput input {
    display: none;
}

/* used for reference_exclude */
.taginput-row .bootstrap-tagsinput  {
    padding: 0;
    margin: 2px;
}

.taginput-row .bootstrap-tagsinput input {
    color: #fff;; /* mdh; was: no color */
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 2px;
    width: auto;
    max-width: inherit;
}

.taginput-row .bootstrap-tagsinput input:focus
{
    padding: 0;
    margin: 2px;
}
/* tagsinput, other part in tagsinput.css */

.taginput-row .bootstrap-tagsinput {
    display: inline-block;
    width: 100%;
}
