.form-control, .form-control:focus {
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border: None;
    border-radius: 0;
    box-shadow: None;
}

.etiki-form .form-control, .etiki-form .form-control:focus {
    color: var(--full_bckgrnd);
    background-color: var(--bright_bg);
}
#div_id_search {
    /* overwrite form-group css */
    margin-bottom: 0;
}

/*Search Bar -> see also typeahead.css*/

#div_id_search .input-group-append {
    margin-left: 0 !important;
}
/* #div_id_search  and dateyearpicker */
.input-group-text {
    background-color: transparent;
    border: none;
    color: white;
}

#div_id_search .input-group-text:hover {
    cursor: pointer; /* hand pointer */
}

#div_id_search input, .taginput-row .bootstrap-tagsinput {
    box-shadow: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;

    border-top: 0;
    border-left: 0;
    border-right: 0;
}


#div_id_search input {
    padding: .375rem 0;
}

.taginput-row .bootstrap-tagsinput  {
    padding: 0;
    margin: 2px;
}

#div_id_search input:focus
{
    padding: .375rem 0;

    border-bottom: 1px solid #fff;
    border-radius: 0;

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--etikigreen);
    box-shadow: 0 1px 0 0 var(--etikigreen);
    outline: none; /* in input blue shadow is outline */
}

.alltaginput .bootstrap-tagsinput input {
    display: none;
}

.taginput-row .bootstrap-tagsinput input {
    color: #fff;; /* mdh; was: no color */
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 2px;
    width: auto;
    max-width: inherit;
}

.taginput-row .bootstrap-tagsinput input:focus
{
    padding: 0;
    margin: 2px;
}
/* tagsinput, other part in tagsinput.css */

.taginput-row .bootstrap-tagsinput {

    display: inline-block;
    width: 100%;
    /* mdh
    cursor: text; */
}


/* OLD */
.bootstrap-tagsinput_old {

    /* background-color: #fff; mdh */
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    /* mdh up */
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    width: 100%;
    line-height: 22px;
    /* mdh
    cursor: text; */
}

.bootstrap-tagsinput_old input {
    color: #fff;; /* mdh; was: no color */
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}
