.form-control, .form-control:focus {
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border: None;
    border-radius: 0;
    box-shadow: None;
}


/*Search Field incl. Icon -> see also typeahead.css*/
.div_search_typeahead {
    /* overwrite form-group css */
    margin-bottom: 0;
}

.div_search_typeahead .input-group-append {
    margin-left: 0 !important;
}
/* .div_search_typeahead  and dateyearpicker */
.input-group-text {
    background-color: transparent;
    border: none;
    color: white;
}

.div_search_typeahead .input-group-text:hover,
.div_c_taginput .input-group-text:hover{
    cursor: pointer; /* hand pointer */
}

/*etiki-form: contact, Login, Profile */
.div_search_typeahead input,
.div_c_taginput .input-group,
.etiki-form .form-control
{
    padding: .375rem .75rem;
    box-shadow: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;

    border-top: 0;
    border-left: 0;
    border-right: 0;
}


.div_c_taginput.div_tags_select .input-group,
.div_c_taginput.div_tags_drop .input-group
{
    border: .5px dotted #fff;
}

.div_search_typeahead input:focus,
.div_c_taginput .input-group:focus-within,
.etiki-form .form-control:focus
{
    padding: .375rem .75rem;
    border-bottom: 1px solid #fff;
    border-radius: 0;

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--etikigreen);
    box-shadow: 0 1px 0 0 var(--etikigreen);
    outline: none; /* in input blue shadow is outline */
}

.div_search_typeahead input::placeholder {
    text-overflow:ellipsis !important;
}
.div_search_typeahead input::-webkit-input-placeholder {
    text-overflow:ellipsis !important;
}
.div_search_typeahead input::-moz-placeholder {
    text-overflow:ellipsis !important;
}
.div_search_typeahead input::-ms-placeholder{
    text-overflow:ellipsis !important;
}

.div_search_typeahead span.twitter-typeahead {
    /*width: 100%;  modified by damian DH  in tagesinput.css*/
    width: 1%;
}

.alltaginput .bootstrap-tagsinput input {
    display: none;
}

/* used for capture etiki */
.div_c_taginput .bootstrap-tagsinput,
.div_c_taginput .bootstrap-tagsinput input,
.div_c_taginput .bootstrap-tagsinput input:focus{
    margin: 0; /* margin: 2px; */
}

.div_c_taginput .input-group .bootstrap-tagsinput {
    flex: 1 1 auto;
    display: inline-block;
    width: 1%;
}

/* not hidden but "visible" so it can validate and focus for client side validation*/
.div_c_taginput .input-group input.c_tags_search_inp,
.div_tags_select .input-group input,
.input-behind{
    position: absolute!important;
    z-index: -1;
    opacity: 0;
    margin-left: 50px;

}
.input-group span.twitter-typeahead {
    /*display: block !important; */
}


.div_c_taginput .bootstrap-tagsinput input {
    color: #fff;; /* mdh; was: no color */
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    /*margin: 2px; */
    width: inherit; /* was auto */
    max-width: inherit;
}

/* tagsinput, other part in tagsinput.css */

.div_c_taginput .bootstrap-tagsinput {
    display: inline-block;
    width: 100%;
}
.div_c_taginput .input-group-text {
    color: var(--etikigreen);
}

/* used in input interface */
.textarea.form-control{
    border: 1px solid #fff;
}

.div_tags_select.div_c_taginput .bootstrap-tagsinput {
    overflow: auto !important;
    max-height: 100px
}





