
.link-intern {
    padding: .25rem;
    color: #fff!important;
    background-color: var(--etikigreen);
}


a {
    color: var(--etikigreen);
}

a:hover {
    color: var(--etikigreen);
    text-decoration: underline !important;
}
