
@media (min-width: 350px) {
    /* Position text in the top-left corner */
    .siteheader.landing {
        display: inherit;
        position: absolute;
    }

    .landing-content {
        height: 100%;
    }

    /* Position text in the bottom-left corner */
    .sitefooter.landing {
        position: absolute;
        bottom: 0;
        top: inherit; /*as in sitefooter: top: 100% */
    }
}


#divTopics.landing {
    display: inherit;
}

#divTopics {
    display: none;
}

.div_topic_li {
    max-width: 100%;
    padding: 0.125rem;
}

.topic-link {
    max-width: 100%;
    display: block;
    padding: 0.25rem 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .875rem;

}

.fullsite-wrapper.landing {
    height: 100% !important;
    min-height: 0px !important;
}


#tabContent.landing,
#div_filterform.landing,
#divFilterBar.landing,
.navbar-toggler.landing {
    display: none !important;
}

