

.hidden-label{
	visibility: hidden;
}

.row_tags_class{
	/*can be shown with jquery later on*/
	display: none;
}

.div_topic_li{
	max-width: 100%;
	padding: 2px;
	
    
	
}
.topic-link{
	max-width: 100%;
	display:block;
	padding-right: 10px;
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	font-size: .875rem;
	
}

#divFilterBar{
	z-index: 700; /* navbar 1020; table: 700, date widget : 1000?? typeahed dropdown */
	top: 36px;
	background-color: var(--full_bckgrnd);
}