
.hidden-label {
    visibility: hidden;
}

.row_tags_class {
    /*can be shown with jquery later on*/
    display: none;
}



#divFilterBar {
    z-index: 750; /* navbar 800; table: 700, date widget : 1000?? typeahed dropdown */
}